<div part="board" style="width:480px; height: 480px;">

    @for (y of ys; track y) {
    @for (x of xs; track x) {
    <div class="square" id="square-{{square(x,y)}}" [attr.data-square]="square(x,y)"
        part="square {{square(x,y)}} {{squareColor(x,y)}} {{highlight(square(x,y))}}" (mousedown)="onMouseDown($event)"
        (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
        @if (x===0) {
        <div part="notation numeric">{{rank(y)}}</div>
        }
        @if (y===7) {
        <div part="notation alpha">{{file(x)}}</div>
        }
        @if (pieces[square(x,y)]) {
        @if (is_dragged_square(square(x,y))) {
        }
        @else {
        <chess-piece [piece]="pieces[square(x,y)]"></chess-piece>
        }
        }
    </div>
    }
    }
</div>
<div id="dragged-pieces" style="width:60px; height: 60px;">
    @if (is_dragging()) {
    <chess-piece piece="{{dragged_piece()}}" dragged left="{{dragged_piece_left()}}" top="{{dragged_piece_top()}}"
        width="{{dragged_piece_width()}}" height="{{dragged_piece_height()}}"></chess-piece>
    }
</div>